
.progress-disabled .bar,
.progress .bar-disabled {
background-color: #7a7a7a;
background-image: -moz-linear-gradient(top, #898989, #775c5b);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#898989), to(#775c5b));
background-image: -webkit-linear-gradient(top, #898989, #775c5b);
background-image: -o-linear-gradient(top, #898989, #775c5b);
background-image: linear-gradient(to bottom, #898989, #775c5b);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff898989', endColorstr='#ff775c5b', GradientType=0);
}

#searchResultsTitle, #searchResults, #settingsPanel {
	display: none;
}

h1 {
	font-size: 22px;
	margin-top: 5px;
}

#searchForm {
	margin-top: 10px;
}

.torrent, .searchResult {
	padding: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:5px;
}

.torrent .title, .searchResult .title {
	font-weight: bold;
	text-overflow: ellipsis;
	overflow: hidden;
}

.torrent:nth-child(even), .searchResult:nth-child(even) {
	background: #CCC;
}

.torrent:nth-child(odd), .searchResult:nth-child(odd) {
	background: #DDD;
}

.metadata {
	text-align: right;
}

.download-modal {
	width: 200px;
	margin-left: -100px;
}

.modal-footer .btn-block, .modal-footer .btn-block+.btn-block {
	margin-top: 20px;
	margin-bottom: 20px;
}
