<div class='row-fluid'>
	<div class='span10 title'>{{ title }}</div>
</div>
<div class='row-fluid' id='{{ id }}'>
	<div class='start-stop span4'>
		<button class="btn  btn-small btn-success download">download</button>
	</div>
	<div class='metadata span8'>
		Seeders: <span class='seeders'>{{ seeders }}</span><br/>
		Leechers: <span class='leechers'>{{ leechers }}</span>
	</div>
</div>